* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.wrapper {
    margin: 0 auto;
    width: 1140px;
}
.wrapper-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.wrapper-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header {
    background-color: black;
}
.btn-cart {
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 23px;
    margin: 25px 0;
    display: flex;
    align-items: flex-end;
    
}
.products {
    display: flex;
    gap: 30px;
    padding-top: 100px;
}
.by-btn {
    background-color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 23px;
    color: white;
}

.product-item {
    height: 300px;
    width: 200px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

